    <div class="wrapper">
        <div class="imgs-wrapp" style="margin-top: 30px">
            <!-- <img class="florals" src="https://i.ibb.co/ftfgPbz/floralsss.png" alt=""> -->
            <img class="portret" src="https://i.ibb.co/PskkbYb/3.png" alt="">
            <img class="floral" src="https://i.ibb.co/XC2yQXw/floral.png" alt="">
        </div>
        <div style="margin-top: 130px" class="vl"></div> 
        <img class="top-logo" src="https://i.ibb.co/Lp0Jvbp/award-1.png" alt="">
        <div style="margin-top: 30px;">
            <div class="info-wrapper" style="display: flex; flex-direction:column;">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            Optio iusto vero, sequi ea dolorem animi provident dignissimos debitis libero, soluta voluptatum! 
                            Incidunt debitis velit, obcaecati  eius consectetur temporibus cumque libero.
                            Lorem ipsum dolor,sit  amet consectetur adipisicing elit.
                            Optio iusto vero, sequi ea dolorem animi provident dignissimos debitis libero, soluta voluptatum! 
                            Incidunt debitis velit, obcaecati eius consectetur temporibus cumque libero.
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            Optio iusto vero, sequi  ea dolorem animi provident dignissimos debitis libero, soluta voluptatum!
                            Incidunt debitis velit, obcaecati eius consectetur temporibus cumque libero.
                    </p>
                    <div class="audio-wrapper">
                        <a style="float: right" href="https://static.bnr.bg/gallery/cr/e9f626275c19db7fa725c77f08324aa1.jpg"
                        data-lightbox="album6490266" title=" ">
                        <div class="imgwrapper"><img
                            class="video-img"
                                src="https://static.bnr.bg/gallery/cr/medium/e9f626275c19db7fa725c77f08324aa1.jpg"
                                data-no-info="1" itemprop="image"></div>
                                <audio controls>
                                        <source src="../../../../assets/audio/10.08.2020-keto bread.mp3"
                                            type="audio/mpeg">
                                        Yourwser does not support the audio element.
                                    </audio>
                    </a>
                    </div>
               
            </div>
        </div>
        <div>

        </div>
    </div>
