<div class="wrapper">

  <div class="carousel-wrapp">
    <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
      <mdb-carousel-item>
        <div class="view w-100">
          <img style="opacity: 0.4" class="d-block w-100"
            src="../../../assets/images/Wholegrain_difference_1200x (1).png" alt="First slide">
          <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
            <blockquote class="blockquote text-center">
                    <h5 class="h5-responsive">„Нека храната бъде лекарство, а лекарството вашата храна.“</h5>
                <footer style="color: white" class="blockquote-footer">Хипократ</footer>
              </blockquote>
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <div class="view w-100">
          <img style="opacity: 0.4" class="d-block w-100"
            src="../../../assets/images/Wholegrain_difference_1200x (2).png" alt="Second slide">
          <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
                <blockquote class="blockquote text-center">
                        <h5 class="h5-responsive">„Грижете се за тялото си. Това е единственото място, в което трябва да живеете.“</h5>
                    <footer style="color: white" class="blockquote-footer">Джим Рон</footer>
                  </blockquote>
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <div class="view w-100">
          <img style="opacity: 0.4" class="d-block w-100"
            src="../../../assets/images/Wholegrain_difference_1200x (3).png" alt="Third slide">
          <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
                <blockquote class="blockquote text-center">
                        <h5 class="h5-responsive">„Всяка храна, която изисква подобряване и използването на <br> химически вещества, в никакъв случай не трябва да се разглежда като храна.“
                                </h5>
                    <footer style="color: white" class="blockquote-footer">Джон. Х. Тоб
                            </footer>
                  </blockquote>
        </div>
      </mdb-carousel-item>
    </mdb-carousel>
  </div>
  <div class="text-section">
        <div class="header-one">
                <div style="display: flex">
                    <div>
                            <div style="display: flex;flex-direction:row">
                                    <img width="30px" height="30px" src="https://img.icons8.com/ios-filled/50/000000/wheat.png" />
                                    <h2>ЛИМЕЦ - ЛЕЧЕБНИ СВОЙСТВА</h2>
                                  </div>
                                  <div style="padding-top: 25px;padding-left: 29px">
                                    <h5>Основно действие на лимеца</h5>
                                    <p>Антиоксидантно, имуностимулиращо. Лимецът (Triticum monococcum) е силен антиоксидант и биопродукт с добри
                                      лечебни свойства.</p>
                                  </div>
                                  <div style="padding-left: 29px">
                                          <h5>Хранителна стойност на лимеца</h5>
                                          <p>Освен, че е многофункционален и универсален заместител на пшеницата, лимецът е също пълен с хранителни вещества, които много други зърнени храни не съдържат. Той има високо съдържание на въглехидрати, но и много високи нива на протеин (21% от дневния ви препоръчителен прием) и диетични фибри (30% в единична порция!) Тези данни са много впечатляващи. На върха на тези важни съединения, също намира място наличието на значителни нива на желязо, мед, манган, магнезий, фосфор, калий, цинк, селен, ниацин, тиамин, витамин В6 и фолиева киселина.</p>
                                        </div>
                                  <div style="padding-left: 29px">
                                          <h5>Ползи от консумацията на лимец</h5>
                                          <p>Редовната употреба на лимец ви позволява да постигнете много положителни ефекти. Първо, съставът на зърнените култури допринася за нормализиране на кръвната захар, подобряване на храносмилането и сърдечно-съдовата дейност. Второ, липсата на глутен в зърнените култури (съдържа протеини от глутеновата група, но в много по-малко количество от класическата пшеница. Лимецът съдържа само 14 хромозоми, има най-кратък ред хромозоми и има най-малък брой възможни вариации на глутен) ги прави подходящи за човешка диета страдащи от непоносимост към това вещество и свежда до минимум риска от алергии или храносмилателни проблеми. Трето, употребата на този продукт има стабилизиращ ефект върху състоянието на нервната система, подобрява паметта и реакцията. И накрая, наблюденията показват, че лимецът оказва положително влияние върху репродуктивната функция и зачеването.</p>
                                        </div>
                    </div>
                   
                </div>
              
        
          </div>
        <div class="right-sect">
                <div class="einkorn">
                        <img src="https://img.bg.sof.cmestatic.com/media/images/600x340/Sep2017/2111457151.jpg" alt="">
                    </div>
                    <div class="right-sect-text" style="padding-top: 24px; padding-left:43px;">
                            <h5>Защо е добре да се използва брашно от лимец?</h5>
                            <p>
                                    Лимецът дава по-малко добив от посевите с хибридна пшеница, но хранителните му свойства са в пъти по-високи от нея. Като оставим настрана истерията около био и еко продуктите, лимецът е един наистина вкусен, устойчив на модификации продукт. Tой се отглежда без пестициди, защото не боледува.Тестото с лимец може да ви изненада с несвойствени за бялото брашно тежест и лепкавост. Това е най-вече заради различното естество на глутена в него. Не е като в пшеницата и не е токсичен.
                            </p>
                        </div> 
        </div>
          
         
  </div>
  <div>
        <div class="header-one">
                <div style="display: flex">
                    <div>
                            <div style="display: flex;flex-direction:row">
                                    <img width="30px" height="30px" src="https://img.icons8.com/ios-filled/50/000000/wheat.png" />
                                    <h3>ЛЕНЕНО СЕМЕ - ЛЕЧЕБНИ СВОЙСТВА</h3>
                                  </div>
                                  <div style="padding-top: 25px;padding-left: 29px">
                                    <h5>Основно действие на лимеца</h5>
                                    <p>Антиоксидантно, имуностимулиращо. Лимецът (Triticum monococcum) е силен антиоксидант и биопродукт с добри
                                      лечебни свойства.</p>
                                  </div>
                                  <div style="padding-left: 29px">
                                          <h5>Хранителна стойност на лимеца</h5>
                                          <p>Освен, че е многофункционален и универсален заместител на пшеницата, лимецът е също пълен с хранителни вещества, които много други зърнени храни не съдържат. Той има високо съдържание на въглехидрати, но и много високи нива на протеин (21% от дневния ви препоръчителен прием) и диетични фибри (30% в единична порция!) Тези данни са много впечатляващи. На върха на тези важни съединения, също намира място наличието на значителни нива на желязо, мед, манган, магнезий, фосфор, калий, цинк, селен, ниацин, тиамин, витамин В6 и фолиева киселина.</p>
                                        </div>
                                  <div style="padding-left: 29px">
                                          <h5>Ползи от консумацията на лимец</h5>
                                          <p>Редовната употреба на лимец ви позволява да постигнете много положителни ефекти. Първо, съставът на зърнените култури допринася за нормализиране на кръвната захар, подобряване на храносмилането и сърдечно-съдовата дейност. Второ, липсата на глутен в зърнените култури (съдържа протеини от глутеновата група, но в много по-малко количество от класическата пшеница. Лимецът съдържа само 14 хромозоми, има най-кратък ред хромозоми и има най-малък брой възможни вариации на глутен) ги прави подходящи за човешка диета страдащи от непоносимост към това вещество и свежда до минимум риска от алергии или храносмилателни проблеми. Трето, употребата на този продукт има стабилизиращ ефект върху състоянието на нервната система, подобрява паметта и реакцията. И накрая, наблюденията показват, че лимецът оказва положително влияние върху репродуктивната функция и зачеването.</p>
                                        </div>
                    </div>
                   
                </div>
              
        
          </div>
  </div>

</div>
