<footer class="footer-section">
        <div id="background" class="container">
            <div class="footer-content pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 mb-50">
                        <div class="footer-widget" style="display: flex">
                            <div class="footer-logo">
                                <a href="index.html"><img src="https://i.ibb.co/QkkwPCn/UNADJUSTEDNONRAW-thumb-a4-1.png" class="img-fluid" alt="logo"></a>
                            </div>
                            <div class="footer-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
                                Molestiae voluptatibus recusandae, ad, iure laudantium voluptas architecto ullam,<br>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3>Намерете ни на</h3>
                            </div>
                            <span>гр.Варна, България</span>
                            <br>
                            <span>кн.Борис 1, 453</span>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                            <div class="footer-widget">
                                <div class="footer-widget-heading">
                                    <h3>Контакти</h3>
                                </div>
                                <span>Телефон: <span>+359 876 534 237</span></span>
                                    <br>
                                <span>Емайл: <span>gramnakilogram@gmail.com</span></span>
                            </div>
                            <div>
                                    <a href="#" class="fa fa-facebook"></a>
                                    <a href="#" class="fa fa-linkedin"></a>
                                    <a href="#" class="fa fa-instagram"></a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 text-left text-lg-right">
                        <div class="copyright-text">
                            <p>Copyright &copy; 2020, All Right Reserved <a style="color: #2e9e34;">Gram na Kilogram</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>